.grafico{
    background-color: rgb(240, 240, 240);
    border: 1em solid;
    border-radius: 1em;
    padding: 1em;
    border-color: rgb(224, 224, 224);
    transition: 0.8s;
}
.grafico h3{
    width: 100%;
    text-align: center;
    margin-bottom: 1em;
}
.grafico:hover{
    background-color: white;
    border-color: rgb(109, 196, 247);
}
.div-infos{
    background-color: rgb(240, 240, 240);
    border: 0.5em solid;
    border-radius: 1em;
    padding: 1em;
    border-color: rgb(224, 224, 224);
    transition: 0.8s;
}
.div-infos:hover{
    background-color: white;
    border-color: rgb(224, 185, 54);
}
