.div-refeicao{
    background-color: white;
    width: 95%;
    margin: auto;
    border-radius: 2em;
    padding: 1em;
}
.insert-refeicao{
    padding: 2em;
    background-color: white;
    position: absolute;
    width: 40em;
    height: max-content;
    border: 1em solid;
    border-radius: 2em;
    border-color: #87cac4;
    top: -1em;
    left: 8em;
}
.insert-refeicao input{
    padding: 0.2em;
    padding-inline: 0.5em;
    border-radius: 2em;
    border: 2px solid;
    border-color: #7ab1ac;
}
.block{
    display: block;
}
.block textarea{
    margin-inline: 5%;
    width: 90%;
}
.flex{
    display: flex;
}
.nome-prato{
    width: 100%;
}
.label-desc{
    width: 100%;
    text-align: center;
}
.item-cardapio{
    color: white;
    margin: 2em;
    margin-inline: 5%;
    width: 90%;
    padding: 2em;
    height: max-content;
    border-radius: 2em;
}
.item-cardapio h3{
    font-size:larger;
    font-weight: bold;
}
.item-cardapio p{
    margin-bottom: 0px;
    overflow-wrap:break-word;
}
.item-cardapio .flex{
    justify-content: space-between;
}
.item-cardapio .block{
    max-width: 45%;
}
.item-cardapio button{
    margin-top: 1em;
    bottom: -2px;
    right: 0px;
    background-color: transparent;
    border: 0px;
}
.item-cardapio button .uil::before{
    font-size: 2em;
    color: white;
}
.item-cardapio button:hover .uil::before{
    transition: 0.2s;
    font-size: 2.2em;
    color: white;
}
h1{
    margin-top: 0.2em;
    margin-bottom: 0.5em;
    color:white; 
    text-align:center
}
.proximas{
    background-color: #87cac4;
}
.anteriores{
    background-color: rgb(172, 172, 172);
}
@media (max-width: 850px)
{
 .conteudo{
    margin: 0.5em;
 } 
 .insert-refeicao{
    padding: 1em;
    background-color: white;
    position: absolute;
    width: 30em;
    height: max-content;
    border: 0.5em solid;
    border-radius: 1em;
    border-color: #87cac4;
    top: -1em;
    left: 8em;
}
}
@media (max-width: 850px)
{
    #imgdopdf{
        width: 9.5em;
    }
 .insert-refeicao{
    padding: 1em;
    background-color: white;
    position: absolute;
    width: 20em;
    height: max-content;
    border: 0.5em solid;
    border-radius: 1em;
    border-color: #87cac4;
    top: -1em;
    left: 0em;
}
}