* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #87CAC4;
  width: 100vw;
  height: 100vh;
  font-size: 16px;
}

body::before {
  content: "";
  background-image: url('../img/img_inicio/background_inicio_1.svg');
  background-size: 107% auto;
  background-position: 50% 26%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
}

/* Parte Nav - INICIO */

nav {
  position: relative;
  display: flex;
  font-size: 1.1em;
  justify-content: space-between;
  width: 100%;
  padding: 0.5em;
  background-color: rgba(255,255,255, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.menu_list {
  margin-bottom: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.menu_list li {
  margin-right: 2rem;
}

.menu_list li a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  transition: color .2s ease-in-out;
}

.menu_list li a:hover {
  color: #8396DC;
}

#baixe_app {
  padding: 1rem;
  background-color: #8396DC;
  color: #fff;
  border-radius: 5rem;
}

#baixe_app a:hover {
  color: #fff;
  transform: scale(1.1);
}

#baixe_app-list {
  transition: transform .2s ease-in-out;
}

#baixe_app-list:hover {
  transform: scale(1.1);
}

#logo_nav {
  margin-left: 10%;
  width: 60%;
}

/* Parte Nav - FIM */

/* Parte Main */

main {
  position: relative;
  width: 100%;
  margin-top: 10em;
}

.intro_skedoo {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.img_intro{
  width: 26%;
  margin-left: 13em;
}

section img {
  width: 120%;
  height: 100%;
  align-items: center;
}

.text_intro {
  margin-right: 16em;
  width: 31%;
}

.text_intro p {
  background-color: #fff;
  padding: 1.2em;
  margin-top: 2.6em;
  font-size: 1.5em;
  border-radius: 1em;
  font-weight: 600;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}

.text_intro h2{
  margin: auto;
  text-align: center;
  background-color: #8396DC;
  width: 60%;
  padding: 1.5rem;
  color: #fff;
  font-size: 2em;
  font-weight: 700;
  border-radius: 5rem;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  transition: transform .3s ease-in-out;
}

.text_intro h2:hover{
  transform: scale(1.1);
}