@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
    font-size: 16px;
}


.img_div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-perfil {
    border-radius: 1000px;
    width: 230px;
    transition: all .2s ease-in-out;
}

.img-perfil:hover {
    transform: scale(1.1);
}

.conteudo {
    margin: 3%;
}
.informacoes {
    width: 75%;
    margin: auto;
    padding: 2em;
    background-color: rgb(135, 202, 196);
    color: white;
    margin-top: 2em;
    border-radius: 2em;
}
.info-titulo {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0.7rem;
}
.info-texto {
    font-size: 1.2em;
}
.div-sair{
    margin: auto;
    display: flex;
    margin-top: 2em; 
}

.div-sair a {
    background-color: rgb(228, 43, 43);
    border-radius: 1em;
    transition: all .2s ease-in-out;
}

.div-sair a:hover{
    transform: scale(1.1);
}

.sair-link {
    padding: 0.6em 2em;
    font-size: 1.5em;
    text-decoration: none;
    text-align: center;
    align-items: center;
    color: white;
    font-weight: bold;
}

.flex {
    display: flex;
    justify-content: center;
}

.img-perfil {
    animation: go-back 1s;
  }

  .uil-angle-left{
    position: absolute;
    top: 30px;
    font-size: 50px;
    color: gray;
  }
  
  @keyframes go-back {
    from {
      transform: translateY(-100px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 100%;
    }
  } 

  #img-perfil {
    background: transparent;
    border: 4px solid rgb(135, 202, 196);
    width: 250px;
    height: 250px;
    border-radius: 100%;
    cursor: pointer;
}

.form-cadastro{
    background-color: #ffffff;
    height:fit-content;
    border: 5px;
    border-style:solid;
    border-color: #f3a033;
    border-radius: 2em;
    padding: 2em;
    width: 35em;
    position: absolute;
    right: 18%;
    top:6em;
    display: none;
    transition: all.2s ease-in-out;
    z-index: 5;
    -webkit-animation: animate-descer 0.4s;
}