@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
}

body::before {
    content: "";
    background-image: url("../img/img_home/background-skedoo.svg"), url('../img/img_home/background-ball.svg'), url("../img/img_home/background-circle-bottom.svg");
    background-size: 100% auto, 110% auto, 100%;
    background-position: top, top, bottom;
    background-repeat: no-repeat, no-repeat, no-repeat;
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
}

html {
    height: 100%;
}

body {
    position: relative;
    background-color: rgb(247, 247, 247);
    width: 100%;
    min-height: 100%;
    font-size: 16px;
}

nav {
    display: flex;
    margin-bottom: 14%;
    width: 100%;
}


nav a {
    font-size: 1.6vw;
    position: absolute;
    right: 0.5em;
    top: 1.2em;
    text-decoration: none;
    font-weight: 700;
    box-shadow: 0 0 0 0;

    --s: 0.1em;   /* the thickness of the line */
    --c: #8396dc; /* the color */
    color: #fff;
    padding-bottom: var(--s);
    background: 
      linear-gradient(90deg,var(--c) 50%, var(--c) 0) calc(100% - var(--_p,0%))/200% 100%,
      linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: 0.5s;
}

nav a:hover {
    color: #8396dc;
    --_p: 100%;
}

#logo-skedoo {
    width: 20%;
    margin: auto;
    margin-top: 0.7em;
}

.apres_text {
    position: relative;
    width: 70%;
    margin-left: 5em;
    margin-top: 10px;
    margin-bottom: 30px;
}

.apres_text {
    background-color: #fff;
    padding: 2em;
    box-shadow: -2px 3px 0px 8px #87cac4;
    border-radius: 0.5em;
    transition: all .5s ease-in-out;
}

.apres_text:hover {
    transform: scale(1.1);
}

#paragrafo-apres {
    font-size: 1.1rem;
    margin-top: 20px;
    margin-bottom: 2em;
}

.secao_inicio {
    position: relative;
    display: flex;
    width: 100%;
}
.topo-secao {
    margin-top: 3%;
    position: relative;
    width: 100%;
}

.topo-secao h2 {
    font-weight: 700;
    font-size: 1.6rem;
}

.area-texto {
    padding: 0em 5em;
}

.topo-secao a {
    position: relative;
    font-size: 1.5em;
    background: #87cac4;
    text-decoration: none;
    color: #fff;
    padding: 3px 28px 3px 17px;
    border-radius: 100px;
    transition: all 0.2s ease-in-out;
}

.topo-secao a:hover {
    border: 2px solid rgb(135, 202, 196);
    /* background-color: #358881; */
    background: #fff;
    color: #87cac4;
    box-shadow: 0px 0px 20px 1px rgba(150, 255, 246, 0.3);
}

.icon-carta {
    margin-top: 0.1em;
    margin-left: 0.3em;
    width: 25px;
}

i.uil.uil-arrow-right {
    right: 3em;
    font-size: 1.3em;
    transform: translateX(15%);
    transform: translateY(-11%);
}

.img_balls {
    width: 35%;
    display: flex;
    flex-direction: column;
    margin-top: -8em;
}

.img_balls img {
    border-radius: 50%;
}

.img_balls1 {
    width: 40%;
    object-fit: cover;
    box-shadow: -7px 0px 0px 5px #8396dc;
}

.img_balls2 {
    width: 70%;
    object-fit: cover;
    box-shadow: 10px -2px 0 5px c;
}

.img_balls3 {
    width: 40%;
    object-fit: cover;
    box-shadow: -7px 0px 0px 5px #8396dc;
}

.curve {
    --size: 50px;
    --R: calc(var(--size)*1.28);
  
    -webkit-mask:
      radial-gradient(var(--R) at 50% calc(1.8*var(--size)),#000 99%,#0000 101%) 
        calc(50% - 2*var(--size)) 0/calc(4*var(--size)) 100%,
      radial-gradient(var(--R) at 50% calc(-.8*var(--size)),#0000 99%,#000 101%) 
        50% var(--size)/calc(4*var(--size)) 100% repeat-x;
    background: #8396dc;
    height: 150px;
    margin-top: 8em;
}

.curve2 {
    --size: 50px;
  --p: 25px;
  --R: 55.9px /*sqrt(var(--size)*var(--size) + var(--p)*var(--p))*/;
  
  height: 200px;

  -webkit-mask:
    radial-gradient(var(--R) at 50% calc(100% - (var(--size) + var(--p))),blue 99%,#0000 101%) calc(50% - 2*var(--size)) 0/calc(4*var(--size)) 100%,
    radial-gradient(var(--R) at 50% calc(100% + var(--p)),#0000 99%,red 101%) 50% calc(100% - var(--size))/calc(4*var(--size)) 100% repeat-x;
  background: #8396dc;  
  border: none;
}

.section-carousel {
    background-color: #8396dc;
    height: 85vh;
}

.section-carousel h2{
    color: #fff;
    font-weight: 700;
    text-align: center;
    font-size: 4em;
    letter-spacing: 4px;
    text-decoration: underline;
}

.carrosel_part {
    display: flex;
    width: 100%;

    margin-top: 2em;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.carousel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
}

.slider {
    opacity: 0;
    transition: opacity .3s;
    margin-left: 5em;
    position: absolute;
}

.carrosel_part input {
    display: none;
}

.text-slide {
    text-align: center;
    margin-top: 2em;
    margin-left: -4em;
    background-color: #fff;
    padding: 1em;
    border-radius: 1em;
    box-shadow: -4px 4px 0 5px #ecab54;
}

.text-slide h2 {
    font-size: 2.3em;
    font-weight: 700;
    color: #8396dc;
}

.text-slide p {
    font-size: 1.2em;
    font-weight: 500;
    color: #8396dc;
}

.on {
    opacity: 1;
}

#prev-button, #next-button {
    width: 4%;
    height: 4%;
    border: none;
    background-color: #fff;
    padding: 0.5em;
    border-radius: 5em;
    cursor: pointer;
}

#prev-button img, #next-button img {
    width: 100%;
    height: 100%;
}

#prev-button {
    margin-right: 20em;
}

#next-button {
    margin-left: 20em;
}

#prev-button:hover {
    animation: rodarPrev 1.2s ease-in-out;
    -webkit-animation: rodarPrev 1.2s ease-in-out;
}

@keyframes rodarPrev {
    0% {
        transform: rotate(0);
        -webkit-transform: rotate(0);
    }
    50% {
        transform: (20deg);
        -webkit-transform: rotate(20deg);
    }
    80% {
        transform: (-20deg);
        -webkit-transform: rotate(-20deg);
    }
    100% {
        transform: rotate(0);
    }
}

@keyframes rodarNext {
    0% {
        transform: rotate(0);
        -webkit-transform: rotate(0);
    }
    50% {
        transform: (20deg);
        -webkit-transform: rotate(20deg);
    }
    80% {
        transform: (-20deg);
        -webkit-transform: rotate(-20deg);
    }
    100% {
        transform: rotate(0);
        transform: scale(1);
    }
}

#next-button:hover {
    animation: rodarNext 1.2s ease-in-out;
    -webkit-animation: rodarNext 1.2s ease-in-out;
}

.comentarios_title {
    position: relative;
    margin-top: 80px;
    margin-left: 40px;
}

.comentarios_title h2 {
    font-size: 2em;
    font-weight: 700;
    text-decoration: underline;
    color: #87cac4;
    text-shadow: -0.1em 0.1em #617bda;
}

.card_coment {
    position: relative;
    display: flex;
    max-height: 100vh;
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 4%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.cards {
    padding: 1em;
    background-image: url("../img/img_home/c-background.svg");
    background-size: 120% auto;
    background-repeat: no-repeat;
    background-position: right -2em bottom -3em;
    margin-left: 2%;
    width: 25%;
    min-height: 29vh;
    background-color: #fff;
    border-radius: 1em;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: all .3s ease-in-out;
}

.cards:hover {
    transform:translateY(-1em);
}

.photo_icon {
    background-color: gray;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.title_card {
    display: flex;
}

.title_card h3 {
    margin-bottom: 0;
    margin-left: 1rem;
    font-size: 1.5em;
    font-weight: 700;
}

.title_card p {
    font-size: 0.5em;
    margin-bottom: 0;
}

.text_card {
    margin-top: 1.5em;
    text-align: center;
}

.star_card img {
    display: flex;
    margin: auto;
    width: 45%;
}

/* Resoluções de telas */

@media screen and (max-width: 1100px) {
    .img_balls {
        display: none;
    }
    #prev-button, #next-button {
        display: none;
    }
}

@media screen and (max-width: 970px) {

    .card_coment {
        position: relative;
        display: flex;
        flex-direction: column;
        max-height: 100vh;
        margin-left: 0%;
        margin-right: 0%;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .cards {
        padding: 1em;
        background-image: url("../img/img_home/c-background.svg");
        background-size: 120% auto;
        background-repeat: no-repeat;
        background-position: right -2em bottom -3em;
        margin-left: 2%;
        width: 35%;
        margin: auto;
        margin-top: 4%;
        min-height: 29vh;
        background-color: #fff;
        border-radius: 1em;
        position: relative;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        transition: all .3s ease-in-out;
    }

}


@media screen and (max-width: 640px) {
    .text_card {
        width: 90%;
        margin-left: 15%;
        margin-top: 5%;
    }

    .comentarios_title h2 {
        font-size: 1.5em;
    }

    .topo-secao h2 {
        font-weight: 700;
        font-size: 1rem;
    }

    .apres_text p {
        font-size: 0.8rem;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .topo-secao a {
        font-size: 10px;
    }

    .img_balls {
        display: none;
    }

    .carousel img {
        border-radius: 1em;
    }

    .carrosel_part {
        display: flex;
        width: 100%;
        min-height: 84vh;
        margin-top: 2em;
        align-items: center;
        justify-content: center;
    }


    .text-slide {
        text-align: center;
        margin-left: 0;
        width: 80%;
        margin: auto;
        margin-top: 2em;
        background-color: #fff;
        border-radius: 1em;
        box-shadow: -4px 4px 0 5px #ecab54;
    }

    .cards_coment {
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .cards {
        margin-left: 0;
        width: 70%;
        height: 160px;
        margin: auto;
        margin-top: 5%;
    }

    #prev-button, #next-button {
        display: none;
    }
}



@media screen and (max-width: 570px) {

    .area-texto {
        padding: 0;
    }

    #logo-skedoo {
        margin-top: 0.3em;
        width: 25%;
    }

    nav a {
        font-size: 9px;
    }

    #paragrafo-apres {
        font-size: 10px;
        margin-top: 20px;
        margin-bottom: 2em;
    }

    .apres_text {
        margin-left: 0;
        margin: auto;
        width: 90%;
        padding: 1em;
    }

    .apres_text p {
        font-size: 1px;
    }

    .apres_text h2 {
        font-size: 13px;
    }

    .img_balls {
        display: none;
    }

    .card_coment {
        display: flex;
        flex-direction: column;
    }

    .cards {
        margin-top: 5%;
        margin-left: 0;
        width: 50%;
        height: 50%;
        margin: auto;
        margin-top: 5%;
    }

    .cards p {
        font-size: 10px;
    }

    .title_card h3 {
        font-size: 16px;
    }

    .section-carousel h2{
        color: #fff;
        font-weight: 700;
        text-align: center;
        font-size: 2em;
        letter-spacing: 4px;
        text-decoration: underline;
    }

    .carrosel_part {
        display: flex;
        width: 100%;

        margin-top: 2em;
        align-items: center;
        justify-content: center;
    }


    .carousel img {
        width: 110%;
    }
    
    .text-slide {
        text-align: center;
        margin-left: 0;
        width: 100%;
        margin: auto;
        margin-top: 0;
        background-color: #fff;
        border-radius: 1em;
        padding: 0.5em 2.3em;
        box-shadow: -4px 4px 0 5px #ecab54;
    }

    .slider {
        margin-left: 0;
    }
    
    .text-slide h2 {
        font-size: 1.2em;
        font-weight: 700;
        color: #8396dc;
    }
    
    .text-slide p {
        font-size: 10px;
        font-weight: 500;
        color: #8396dc;
    }

    #prev-button, #next-button {
        display: none;
    }

    .social_img a img {
        width: 21px;
        height: 21px;
    }

    .titulo_foot h3 {
        font-size: 12px;
    }
}

@media screen and (max-width: 420px) {
    .section-carousel {
        height: 83vh;
    }

    .cards {
        background-size: 180% auto;
        min-height: 22vh;
        background-color: #fff;
        border-radius: 1em;
        position: relative;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        transition: all .3s ease-in-out;
    }

    .photo_icon {
        width: 35px;
        height: 35px;
    }
}

@media screen and (max-width: 380px) {
    .section-carousel {
        height: 100vh;
    }
}

@media screen and (max-width: 280px) {
    .cards {
        background-size: 220% auto;
        min-height: 5vh;
        width: 70%;
    }

    nav a {
        font-size: 7px;
    }
}


