@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
}

body {
    position: relative;
    background-color: rgb(247, 247, 247);
    width: 100%;
    height: 100%;
    font-size: 16px;
}

nav {
    display: flex;
    margin-bottom: 14%;
    width: 100%;
}

nav::before {
    content: "";
    background-image: url("../img/img_home/background-skedoo.svg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: top;
    width: 100%;
    height: 100%;
    position: absolute;
}

nav a {
    font-size: 1.8vw;
    position: absolute;
    right: 0.5em;
    top: 1.3em;
    text-decoration: none;
    font-weight: 700;
    color: #fff;
    transition: all 0.2s ease-in-out;
}

nav a:hover {
    color: #8396dc;
}

#logo-skedoo {
    width: 30%;
    margin: auto;
}

.apres_text {
    position: relative;
    width: 70%;
    margin-left: 5em;
    margin-top: 10px;
    margin-bottom: 30px;
}

.apres_text p {
    font-size: 1.1rem;
    margin-top: 20px;
    margin-bottom: 10px;
}

.secao_inicio {
    position: relative;
    display: flex;
    width: 100%;
}

.topo-secao {
    margin-top: 3%;
    position: relative;
    width: 100%;
}

.topo-secao h2 {
    font-weight: 700;
    font-size: 1.5rem;
    margin-left: 5rem;
}

.topo-secao a {
    position: relative;
    font-size: 1.5vw;
    margin-left: 5rem;
    background: #87cac4;
    text-decoration: none;
    color: #fff;
    padding: 3px 28px 3px 17px;
    border-radius: 100px;
    transition: all 0.2s ease-in-out;
}

.topo-secao a:hover {
    border: 2px solid rgb(135, 202, 196);
    /* background-color: #358881; */
    background: #fff;
    color: #87cac4;
    box-shadow: 0px 0px 20px 1px rgba(150, 255, 246, 0.3);
}

i.uil.uil-arrow-right {
    right: 3em;
    font-size: 1.3em;
    transform: translateX(15%);
    transform: translateY(-11%);
}

.img_balls {
    width: 35%;
    display: flex;
    flex-direction: column;
    margin-top: -2em;
}

.img_balls img {
    border-radius: 50%;
}

.img_balls1 {
    width: 40%;
    object-fit: cover;
}

.img_balls2 {
    width: 70%;
    object-fit: cover;
}

.img_balls3 {
    width: 40%;
    object-fit: cover;
}

.carrosel_part {
    position: relative;
    background-image: url("../img/img_home/Skedoo_bg_carousel.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150% auto;
    padding: 70px;
    margin-top: 8%;
    margin-bottom: 8%;
}

.carousel {
    position: relative;
    margin: auto;
    width: 50%;
}

.carousel img {
    border-radius: 2.5em;
}

.carrosel_part h2 {
    font-size: 2em;
    text-align: center;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.1em;
}

.comentarios_title {
    position: relative;
    margin-top: 80px;
    margin-left: 40px;
}

.comentarios_title h2 {
    font-size: 2em;
    font-weight: 600;
}

.card_coment {
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.cards {
    padding: 1em;
    background-image: url("../img/img_home/card_bg_skedoo.svg");
    background-size: 120% auto;
    background-repeat: no-repeat;
    background-position: right -2em bottom -5em;
    margin-left: 2%;
    width: 25%;
    background-color: #fff;
    border-radius: 1em;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.photo_icon {
    background-color: gray;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.title_card {
    display: flex;
}

.title_card h3 {
    margin-bottom: 0;
    margin-left: 1rem;
    font-size: 1.5em;
}

.title_card p {
    font-size: 0.5em;
    margin-bottom: 0.6rem;
}

.text_card {
    margin-left: 34%;
    margin-bottom: 0.2rem;
    text-align: center;
    width: 60%;
}

.star_card img {
    margin-left: 50%;
    width: 50%;
}

/* Resoluções de telas */

@media screen and (max-width: 920px) {
    .img_balls {
        display: none;
    }

    .card_coment {
        display: flex;
        flex-direction: column;
    }

    .cards {
        margin-top: 5%;
        margin-left: 0;
        width: 50%;
        height: 50%;
        margin: auto;
        margin-top: 5%;
    }
}

@media screen and (max-width: 620px) {
    .text_card {
        width: 90%;
        margin-left: 15%;
        margin-top: 5%;
    }

    .comentarios_title h2 {
        font-size: 1.5em;
    }

    .topo-secao h2 {
        font-weight: 700;
        font-size: 1rem;
        margin-left: 5rem;
    }

    .apres_text p {
        font-size: 0.8rem;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .topo-secao a {
        font-size: 1em;
    }

    .img_balls {
        display: none;
    }

    .carrosel_part {
        background-size: 250% auto;
    }

    .carousel {
        position: relative;
        margin: auto;
        width: 100%;
    }

    .carousel img {
        border-radius: 1em;
    }

    .cards_coment {
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .cards {
        margin-top: 10%;
        margin-left: 0;
        width: 80%;
        height: 250px;
        margin: auto;
        margin-top: 10%;
    }
}
