* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    width: 100%;
    height: 100%;
    font-size: 16px;
    position: relative;
}

body::before {
    content: "";
    background-image: url("../img/img_contato/background_1-skedoo.svg"),
        url("../img/img_contato/background_2-skedoo.svg"),
        url("../img/img_contato/background_3-skedoo.svg"),
        url("../img/img_contato/background_4-skedoo.svg");
    background-size: 15%, 8%, 20%, 20%;
    background-position: top 5% left, right top -10%, bottom -180% left,
        bottom -50% right;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
}

nav {
    position: relative;
    display: flex;
    font-size: 1.1em;
    justify-content: center;
    width: 100%;
    padding: 1.2em;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.menu_list li a {
    text-decoration: none;
    color: #8396dc;
    font-weight: 700;
    transition: color 0.2s ease-in-out;
}

.menu_list li a:hover {
    color: #5f7de6;
}

.menu_item {
    background-color: #597cfa;
}

.link_inicio {
    margin-right: auto;
}

.link_login {
    margin-left: auto;
}

#baixe_app {
    color: #fff;
}

.conteudo {
    position: relative;
}

.logo_skedoo {
    display: flex;
    justify-content: center;
    margin-top: 5em;
}

.logo_img {
    width: 20%;
}

.texto_topo {
    display: flex;
    text-align: center;
    width: 40%;
    margin: auto;
    margin-top: 3em;
}

.texto_topo p {
    font-size: 1.2em;
    font-weight: 600;
}

form {
    position: relative;
    width: 70%;
    height: 100%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 1em;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    margin-top: 2em;
}

.grupo_input {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

.input_tel-cel {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.input_box {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.input_box input,
textarea {
    outline: none;
    border-radius: 0.5em;
    padding: 0.3em 0.5em;
    border: 1px solid #adb5bd;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
}

.input_box input:hover,
textarea:hover {
    border: 1px solid #597cfa;
}

.input_box input:focus,
textarea:focus {
    border: 1px solid rgb(89, 124, 250);
    box-shadow: 0 0 20px 1px rgba(89, 124, 250, 0.3);
}

.input_box label {
    color: #597cfa;
    font-weight: 600;
    margin-bottom: 0.5em;
}

#label_duv {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 0.8rem;
}

#textarea_div {
    width: 70%;
    margin: auto;
}

.botao_envio {
    display: flex;
    justify-content: center;
    margin-top: 5em;
}

.botao_envio button {
    border: none;
    background-color: #597cfa;
    color: #fff;
    padding: 0.8em 3em;
    border-radius: 1em;
    font-weight: 700;
    letter-spacing: 0.2em;
    margin-bottom: 2em;
    transition: all 0.5s ease-in-out;
}

.botao_envio button:hover {
    background-color: #8396dc;
}

@media screen and (max-width: 1360px) {
    .texto_topo {
        width: 80%;
    }
    #textarea_div {
        width: 90%;
    }
    form {
        width: 90%;
    }
}
@media screen and (min-width: 600px) {
    nav {
        padding-inline: 5em;
    }
}
@media screen and (max-width: 805px) {
    .logo_img {
        width: 60%;
        margin: auto;
        display: block;
    }
}
@media screen and (max-width: 870px) {
    .input_tel-cel {
        display: block;
    }
}
