p{
    margin: 0px;
}
.mensagens::-webkit-scrollbar{
    display: none;
}
.flex{
    display: flex;
}
#nomeChat{
    margin-right: 2em;
    color: white;
    font-weight: bold;
}
.usuarios::-webkit-scrollbar{
    display: none;
}
.resultados::-webkit-scrollbar{
    display: none;
}
.block{
    display: block;
    width: 100%;
}
.div-conteudo{
    display: flex;
    height: 30em;
    width: 100%;
}
.div-usuarios{
    width: 20%;
    max-height: 30em;
}
.usuarios{
    max-height: 90%;
    background-color: white;
    border-radius: 2em;
    overflow:auto;
}
.usuario{
    padding-inline: 1em;
    min-height: 4em;
    display: block;
    border: none;
    width: 100%;
}
.topo-mensagens{
    height: fit-content;
    margin-bottom: 10px;
  }
.usuario:hover{
    background-color: rgb(255, 255, 255);
    border: 1px solid;
    border-color: rgba(128, 128, 128, 0.24);
    overflow: hidden;
}
.usuario p{
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;
}
.div-mensagens{
    height: 25em;
    padding-left: 1em;
    width: 100%;
}
.mensagens{
    height: 90%;
    overflow: auto;
    padding: 1em;
    background-color: white;
    border-radius: 2em;

}
.mensagem{
    padding: 0.5em;
    padding-inline: 1em;
    width: fit-content;
    max-width: 40%;
    border-radius: 1em;
    margin-bottom: 0.5em;
    word-break: keep-all;
    word-wrap: break-word;

}
.mensagem span{
    font-size: small;
    color: gray;
}
.enviada{
    background-color: aquamarine;
    margin-left: auto;
}
.recebida{
    background-color: rgb(211, 211, 211);
}
.div-form{
    display: block;
    width: 100%;
    height: max-content;
    margin: 1em;
    margin-right: 2em;
}
.form-mensagem {
    background-color: rgb(255, 255, 255);
    border-radius: 5em;
    width: 90%;
}

.form-mensagem input {
    width: 100%;
    height: 2.5em;
    border: 0.3em solid;
    border-color: #87cac4;
    border-radius: 2em;
    outline-color: #6da39e;
    background: rgba(0,0,0,0.0);
    padding-left: 1em;
    padding-right: 1em;
}

.form-mensagem button {
    border: none;
    border-radius: 2.5em;
    height: 2.5em;
    width: 5em;
    position: absolute;
    right: 1em;
    color: white;
    background-color: #3a8d86;
}

.form-mensagem button:hover {
    transition: all .3s ease-in-out;
    background-color: rgb(88, 88, 235);
} 
.tt-usuarios{
    width:100%;
    text-align: center;
    margin-bottom: 0px;
    padding: 0.5em;
}
.pesquisar{
    margin: 0px;
    margin-right: auto;
    width: 2em;
    height: 2em;
    padding: 0px;
}
.uil-search::before{
    font-size: 1em;
}
.uil-search{
    width: 1em;
    height: 1em;
    margin: auto;
}

.search{
    top: 4em;
    left: 20%;
}
.resultados{
    position: absolute;
    top: 7em;
    left: 20%;
    max-height: 18em;
    overflow: scroll;
}
.uil-eye{
    width: fit-content;
    margin-left: auto;
    padding-left: 0.5em;
}
.uil-eye-slash{
    width: fit-content;
    margin-left: auto;
    padding-left: 0.5em;
}
.uil-eye::before{
    font-size: 1.5em;
    color: rgb(46, 136, 255);
}
.uil-eye-slash::before{
    font-size: 1.5em;
}
.infomensagem{
    display: flex;
}
.div-usuarios .flex h3{
    color: white;
    font-weight: bold;
}
@media (max-width: 980px)
{
  .tt-usuarios{
    font-size: 1em;
  }
}
@media (max-width: 850px)
{
  .div-usuarios{
    display: none;
  }
  .conteudo{
    margin:0.5em;
  }
  .div-mensagens{
    padding: 0px;
  }
  #div-mensagens{
    padding: 10px;
  }
  #nomeChat{
    font-size: 1.2em;
    height: fit-content;
    margin: auto;
  }
  .mensagem{
    max-width: 80%;
  }
  .div-form{
    margin-inline: 0px;
  }
}