@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

body::-webkit-scrollbar{
    display: none;
}

html {
    height: 100%;
}

body {
    width: 100%;
    min-height: 100%;
    font-size: 16px;
}

.nav {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}

#logo-skedoo {
    width: 11%;
}

.nav h3 {
    margin-top: 1rem;
    margin-left: 0;
    margin-bottom: 0;
    font-size: 1.4em;
}

.nav h4 {
    position: absolute;
    text-align: center;
    z-index: -1;
    right: 0;
    left: 0;
    margin-top: 0.7rem;
    display: flex;
    color: #ffa939;
    font-weight: 700;
    font-size: 2rem;
    justify-content: center;
}

.img-perfil {
    margin-left: 0.5rem;
}

.menu-bar {
    background-color: #87cac4;
    position: relative;
    display: flex;
    padding: 0.8rem 4rem;
    align-items: center;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
}

.menu-bar h2 {
    font-size: 1.6em;
    color: #fff;
    font-weight: 600;
}

.img-perfil {
    border-radius: 25px;
    width: 50px;
    transition: all .2s ease-in-out;
}

.img-perfil:hover {
    transform: scale(1.1);
}

.card{
    padding: 2em;
    border-radius: 50px;
    transition: all .2s ease-in-out;
}

.card i,.card h3{
    color: #fff;
}

.card:hover {
    background-color: #fff;
    border-width: 15px;
}

.card-link{
    text-decoration: none;
}

.conteudo{
    position: relative;
    margin: auto;
    margin: 4em;
}
.form-cadastro{
    background-color: #ffffff;
    height:fit-content;
    border: 5px;
    border-style:solid;
    border-color: #f3a033;
    border-radius: 2em;
    padding: 2em;
    width: 35em;
    position: absolute;
    right: 18%;
    top:6em;
    display: none;
    transition: all.2s ease-in-out;
    z-index: 5;
    -webkit-animation: animate-descer 0.4s;
}
.form-aluno{
    background-color: #ffffff;
    width: 35em;
    height:fit-content;
    border: 5px;
    border-style:solid;
    border-color: #f3a033;
    border-radius: 2em;
    padding: 2em;
    position: absolute;
    right: 18%;
    top:-2em;
    transition: all.2s ease-in-out;
    z-index: 6;
    -webkit-animation: animate-descer 0.4s;
}
@-webkit-keyframes animate-descer {
    from { opacity: 0; margin-top: -150px;}
    to { opacity: 1;margin-top: 0px;}
}
@-webkit-keyframes animate-subir {
    from { opacity: 0; margin-top: 100px;}
    to { opacity: 1;margin-top: 0px;}
}
.search {
    display: flex;
    background-color: rgb(255, 255, 255);
    border-radius: 5em;
    padding-left: 1em;
    border: 5px;
    border-style: solid;
    border-color: #f3a033;
    width: fit-content;
    justify-content: center;
    align-items: center;
    -webkit-animation: animate-subir 0.4s;
    position: absolute;
    top: 20px;
    right: 20px;
}

.search input {
    border: none;
    outline: none;
    background: rgba(0,0,0,0.0);
    width: 18em;
    height: 100%;
}
.search button {
    border: none;
    border-radius: 5em;
    height: 2.5em;
    width: 2.5em;
    background-color: #f3a033;
    margin-top: auto;
    margin-bottom: auto;
}
.uil-search::before{
    font: weight 60px;
    font-size: 20px;
    margin-left: auto;
    color: white;
}

.search button:hover {
    transition: all .3s ease-in-out;
    background-color: #ffd7a4;
}   
.texto{
    border: 2px;
    border-style:solid;
    border-color: #f3a033;
    border-radius: 2em;
    padding-left: 1em;
    padding-right: 1em;
}
.form-cadastro .texto{
    height: 2em;
}
.div-tabela{
    background-image: linear-gradient(#ecab54, #ffe8ca );
    box-shadow: 0 -1px 12px rgba(0, 0, 0, 0.3);
    border-radius: 2em;
}
.pagination{
    background-color: #ecab54;
    padding: 5px;
    width: fit-content;
    margin: auto;
    border-radius: 2em;
}

.page-item:last-child .page-link {
    /* border-top-right-radius: var(--bs-pagination-border-radius); */
    /* border-bottom-right-radius: var(--bs-pagination-border-radius); */
    border-radius: 0;
    border-radius: 100%;
}

.page-item:first-child .page-link {
    /* border-top-right-radius: var(--bs-pagination-border-radius); */
    /* border-bottom-right-radius: var(--bs-pagination-border-radius); */
    border-radius: 0;
    border-radius: 100%;
}


.page-item {
    margin: 0 1em;
    margin-left: 8px;
    margin-right: 8px;
    text-align: center;
    outline: none;
    box-shadow: none;
}

.page-link {
    width: 45px;
    height: 45px;
    color: #ecab54;
    font-weight: 700;
    border-radius: 5em;
    border: none;
    outline: none;
    box-shadow: none;
    background-position: 0 -45px;
    transition:  .3s ease-in-out;
}

.active > .page-link {
    background-color: transparent;
    background-image: linear-gradient(#f3d2a7, #f3e6d5);
}

.page-link:hover {
    color: #fff;
    background-image: linear-gradient(#f3d2a7, #f3e6d5);
    background-position: 0 0;
    transform: scale(1.1);
}

.div-conteudo{
    padding: 1em;
    border-radius: 2em;
}

.icon-card{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1.8em;
}

.texto-card{
    text-align: center;
}

.flex-cards{
    display: flex;
    justify-content: space-between;
    margin-bottom: 4em;
}

.card-margin{
    margin-left: 20%;
    margin-right: 20%;
}

.uil{
    display: flex;
}

.uil::before{
    font: weight 60px;
    font-size: 10rem;
    margin:auto;
}

 
.tabela{
    margin: 0 auto;
    background-color: #ffffff;
    border: none;

    margin-bottom: 2em;
}

.tabela {
    animation: go-back 1s;
}

@keyframes go-back {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 100%;
  }
}

.pesquisa-tabela{
    width: 820px;
}

table,
th,
td {
    border: 2px solid #ffbf69;
    width: 90%;
}

table {
    border-collapse: collapse;
    margin: auto;
}

th,
td {
    padding: 10px;
    text-align: center;
    width: fit-content;
}

th {
    background-color: #ffbf69;
    color: white;
    font-weight: bold;
}

.t-head-title {
    font-size: 1.3em;
}

tr:nth-child(even) {
    background-color: #ffedd5;
}

tr:hover:nth-child(1n + 2) {
    background-color: #87cac4;
    color: #fff;
    transition: .2s;
    font-weight: 700;
}

.nome{
    text-align: inherit;
}

.editar{
    background-color: #5665e6;
    color: white;
    border: none;
    font-weight: 700;
    border-radius: 1em;
    padding: 0.6em;
    margin: auto;
    transition: all .3s ease-in-out;
}

.editar:hover {
    background-color: #4657ec;
    transform: scale(1.1);
}
.inserir{
    background-color: #ffffff;
    color: #ffbf69;
    border: none;
    font-weight: 700;
    border-radius: 1em;
    padding: 0.6em;
    margin: auto;
    transition: all .3s ease-in-out;
}
.inserir:hover {
    transform: scale(1.1);
}
.div-input-flex{
    display: flex;
    justify-content:space-between;
}
.enviar{
    background-color: #35d44a;
    color: #ffffff;
    border: none;
    font-weight: 700;
    border-radius: 1em;
    padding: 0.6em;
    margin: auto;
    transition: all .3s ease-in-out;
}
.enviar:hover {
    transform: scale(1.1);
}
.cancelar{
    background-color: #d43535;
    color: #ffffff;
    border: none;
    font-weight: 700;
    border-radius: 1em;
    padding: 0.6em;
    margin: auto;
    transition: all .3s ease-in-out;
}
.cancelar:hover {
    transform: scale(1.1);
}
.pesquisar{
    background-color: #ffffff00;
    font-size: 20px;
    color: white;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    padding: 10px;
    transition: all .3s ease-in-out;
    border-radius: 2em;
}
.pesquisar:hover{
    background-color: #f3a033;
    font-size: 20px;
    color: white;
}
.uil-search::before{
    font-size: 1.7em;
}
.ver{
    background-color:  #ffbf69;
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 1em;
    padding: 0.6em;
    transition: all .3s ease-in-out;
}

.ver:hover {
    background-color: #ecab54;
    transform: scale(1.1);
}

.deletar{
    background-color: #f13f3f;
    color: white;
    border: none;
    border-radius: 5em;
    transition: all .3s ease-in-out;
}

.uil-trash-alt::before{
    font-size: 2em;
    padding: 0.15em;
}

.deletar:hover {
    background-color: #c71f1f;
    transform: scale(1.1);
}


.botoes{
    width: 5%;

}
h2{
    text-align: center;
    color: #fff;
    padding: 1em;
    text-decoration: underline;
    margin-bottom: 0px;
}
.sub-titulo{
    color: #fff;
    margin-top: 1em;
    text-decoration: underline;
    margin-left:4%;
    margin-right:4%;
}

.paragrafo {
    color: #222222;
    margin-left:4%;
    margin-right:4%;
}

.flex {
    display: flex;
    justify-content: center;
}
.block{
    display: block;
}

a {
  position: relative; 
  text-decoration: none; 
}
.uil-angle-left{
    transition: all .2s ease-in-out;
    align-items: center;
    color: white;
    
}
.uil-angle-left::before{
    font: weight 60px;
    font-size: 3rem;
    margin-left: auto;
}
.uil-angle-left:hover{
    color: blue;
}

.uil-angle-left:hover p{
    display: block;
    animation: notificacao 0.3s;
    position: absolute;
    left: -100px;
}

.uil-estate{
    transition: all .2s ease-in-out;
    align-items: center;
    color: white;
    
}
.uil-estate::before{
    font: weight 60px;
    font-size: 3rem;
    margin-left: auto;
}
.uil-estate:hover{
    color: blue;
}

.uil-estate:hover p{
    display: block;
    animation: notificacao 0.3s;
    position: absolute;
    left: -100px;
}
.botao_envio {
    display: flex;
    justify-content: center;
    margin-top: 5em;
}

.botao_envio button {
    border: none;
    background-color: #82c7c1;
    color: #fff;
    padding: 0.8em 3em;
    border-radius: 1em;
    font-weight: 700;
    letter-spacing: 0.2em;
    margin-bottom: 2em;
    transition: all 0.5s ease-in-out;
}

.input_box {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.input_box input,
textarea {
    outline: none;
    border-radius: 0.5em;
    padding: 0.3em 0.5em;
    border: 1px solid #adb5bd;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
}

.input_box input:hover,
textarea:hover {
    border: 1px solid #6aa39e;
}

.input_box input:focus,
textarea:focus {
    border: 1px solid rgb(167, 167, 167);
    box-shadow: 0 0 20px 1px rgba(71, 71, 71, 0.3);
}

.input_box label {
    color: #6aa39e;
    font-weight: 600;
    margin-bottom: 0.5em;
}

#label_duv {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 0.8rem;
}
.dropdown {
    position: relative;
    display: inline-block;
    width: fit-content;
    background-color: #5faeb3;
    color: white;
    padding: 0.3em;
    border-radius: 0.3em;
  }
  
  .opcao{
    background-color: white;
    color: black;
  }

#textarea_div {
    width: 70%;
    margin: auto;
}

.uil-times::before{
    font: weight 60px;
    font-size: 34px;
    margin-left: auto;
    color: white;
}
.div-visualizar{
    background-image: linear-gradient(#ecab54, #f5c78b );
    box-shadow: 0 -1px 12px rgba(0, 0, 0, 0.3);
    margin-bottom: 4em;
    border-radius: 2em;
    padding: 3em;
    color: white;
}
.visualizar{
    background-image: white;
    border-radius: 2em;
    padding: 3em;
    color: rgb(0, 0, 0);
}