@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    font-family: 'Poppins', sans-serif;
}

ol,
ul {
    padding-left: 0px;
}
nav a {
    display: flex;
    align-items: center;
}

.menu_item {
    width: 125px;
    padding: 0.5em;
    border-radius: 5rem;
}
.menu_list {
    margin-bottom: 0;
    list-style: none;
    display: flex;
    align-items: center;
    width: 100%;
}
#baixe_app {
    color: #fff;
    margin: auto;
    display: block;
    text-align: center;
}

#baixe_app a:hover {
    color: #fff;
    transform: scale(1.1);
}

#baixe_app-list {
    transition: transform 0.2s ease-in-out;
}

#baixe_app-list:hover {
    transform: scale(1.1);
}

footer {

    position: relative;
    padding: 20px;
    width: 100%;
}

.titulo_foot {
    text-align: center;
    color: #87cac4;
    margin-bottom: 0.5rem;
    letter-spacing: 1px;
}

.titulo_foot h3 {
    font-size: 1em;
}

.social_img {
    display: flex;
    justify-content: center;
}

.social_img ul {
    display: flex;
}

.social_img ul li {
    margin: 0.25rem;
}

.social_img a img {
    height: 27px;
    width: 27px;
    transition: transform 0.2s ease-in-out;
}

.social_img a img:hover {
    transform: scale(1.2);
}
@media screen and (min-width: 700px) {
    .menu_item {
        width: 150px;
        padding: 1em;
    }
}
