@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

body::-webkit-scrollbar{
    display: none;
}


body {
    width: 100%;
    height: 100%;
    font-size: 16px;
    position: relative;
}



.nav {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}

#logo-skedoo {
    width: 11%;
}

.nav h3 {
    margin-top: 1rem;
    margin-left: 0;
    margin-bottom: 0;
    font-size: 1.4em;
}

.img-perfil {
    margin-left: 0.5rem;
}

.menu-bar {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0.8rem 4rem;
    align-items: center;
}

.menu-bar h2 {
    margin-bottom: 0;
    font-size: 1.6em;
    color: #fff;
    font-weight: 600;
}
.search {
    display: flex;
    background-color: rgb(255, 255, 255);
    border-radius: 5em;
    padding-left: 1em;
    padding-right: 0.5em;
    
}

.search input {
    border: none;
    outline: none;
    background: rgba(0,0,0,0.0);
}

.search button {
    border: none;
    border-radius: 5em;
    height: 2.5em;
    width: 2.5em;
    background-color: #f7b662;
    margin-top: auto;
    transition: all .3s ease-in-out;
    margin-bottom: auto;
}

.search button:hover {
    background-color: #87cac4;
}   

.nome-inst {
    display: flex;
}

.group-date-inst {
    display: flex;
    justify-content: center;
}

.date-now h3 {
    text-align: center;
}

.img-perfil {
    border-radius: 25px;
    width: 50px;
    transition: all .2s ease-in-out;
}

.img-perfil:hover {
    transform: scale(1.1);
}

.card{
    padding: 2em;
    border-radius: 0.8rem;
    transition: all .2s ease-in-out;
}

.card i,.card h3{
    color: #fff;
}

.card:hover {
    background-color: #fff;
    border-width: 6px;
}

.card-link{
    text-decoration: none;
}

.conteudo{
    padding: 3em;
}
.icon-card{
    width: 70%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1.8em;
}
.texto-card{
    text-align: center;
}
.flex-cards{
    display: flex;
    justify-content: space-around;
    margin-bottom: 4em;
}

.card-margin{
    margin-left: 15%;
    margin-right: 15%;
}

.uil{
    display: flex;
}
.uil::before{
    font-size: 10rem;
    margin:auto;
}
.uil-bell{
    transition: all .2s ease-in-out;
    align-items: center;
    margin-right: 2em;
}
.uil-bell p{
    margin: auto;
    color: #fff;
    display: none;
}
.uil-bell::before{
    font: weight 60px;
    font-size: 3rem;
    margin-left: auto;
    color: #fff;
}
.uil-bell:hover{
    transform: scale(1.2);
}

.uil-bell:hover p{
    display: block;
    animation: notificacao 0.3s ease-in-out;
    position: absolute;
    left: -100px;
}
.uil-search::before{
    font: weight 60px;
    font-size: 1.5rem;
    margin-left: auto;
    color: white;
}
@keyframes notificacao {
    from {
      transform: translateX(50px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 100%;
    }
}

.flex {
    display: flex;
    justify-content: center;
}
