@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

body::-webkit-scrollbar{
    display: none;
}

.perfil-bg a{
    display: flex;
    margin-left: 0.5em;
}
.perfil-bg h3{
    margin: auto;
}
body {
    width: 100%;
    min-height: 100vh;
    font-size: 16px;
    position: relative;
}

.horario-nav {
    color: red;
    text-align: center;
}


.nav {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}

#logo-skedoo {
    width: 11%;
}

.nav h3 {
    font-size: 1.4em;
}
.nav h4 {
    position: absolute;
    text-align: center;
    z-index: -1;
    right: 0;
    left: 0;
    margin-top: 0.7rem;
    display: flex;
    color: #ffa939;
    font-weight: 700;
    font-size: 2rem;
    justify-content: center;
}

.img-perfil {
    margin: auto;
}

.menu-bar {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0.8rem 4rem;
    align-items: center;
}

.menu-bar h2 {
    margin-bottom: 0;
    font-size: 1.6em;
    color: #fff;
    font-weight: 600;
}
.search {
    display: flex;
    background-color: rgb(255, 255, 255);
    border-radius: 5em;
    padding-left: 1em;
    padding-right: 0.5em;
    
}

.search input {
    border: none;
    outline: none;
    background: rgba(0,0,0,0.0);
}

.search button {
    border: none;
    border-radius: 5em;
    height: 2.5em;
    width: 2.5em;
    background-color: #f7b662;
    margin-top: auto;
    transition: all .3s ease-in-out;
    margin-bottom: auto;
}

.search button:hover {
    background-color: #87cac4;
}   

.nome-inst {
    display: flex;
}

.group-date-inst {
    display: flex;
    justify-content: center;
}

.date-now h3 {
    text-align: center;
}

.img-perfil {
    border-radius: 25px;
    width: 50px;
    transition: all .2s ease-in-out;
}

.img-perfil:hover {
    transform: scale(1.1);
}

.card{
    padding: 2em;
    border-radius: 0.8rem;
    transition: all .2s ease-in-out;
}

.card i,.card h3{
    color: #fff;
}

.card:hover {
    background-color: #fff;
    border-width: 6px;
}

.card-link{
    text-decoration: none;
}

.conteudo{
   margin: 1.5rem;
}
.icon-card{
    width: 70%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1.8em;
}
.texto-card{
    text-align: center;
}
.flex-cards{
    display: flex;
    justify-content: space-around;
    margin-bottom: 4em;
}

.card-margin{
    margin-left: 15%;
    margin-right: 15%;
}

.uil{
    display: flex;
}
.uil::before{
    font-size: 10rem;
    margin:auto;
}
.uil-bell{
    transition: all .2s ease-in-out;
    align-items: center;
    margin-right: 2em;
}
.uil-bell p{
    margin: auto;
    color: #fff;
    display: none;
}
.uil-bell::before{
    font: weight 60px;
    font-size: 3rem;
    margin-left: auto;
    color: #fff;
}
.uil-bell:hover{
    transform: scale(1.2);
}

.uil-bell:hover p{
    display: block;
    animation: notificacao 0.3s ease-in-out;
    position: absolute;
    left: -100px;
}
.uil-search::before{
    font: weight 60px;
    font-size: 1.5rem;
    margin-left: auto;
    color: white;
}
@keyframes notificacao {
    from {
      transform: translateX(50px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 100%;
    }
}

.flex {
    display: flex;
    justify-content: center;
}


.titulo_foot h4{
    font-size: 1.3rem;
}
@media (max-width: 1300px)
{
  .card{
    padding: 1.5em 1em;
  }
  .card .uil::before{
    font-size: 9em;
  }
}
@media (max-width: 1000px)
{
  .card .uil::before{
    font-size: 7em;
  }
  .card h3{
    font-size: 1em;
  }
}
@media (max-width: 850px)
{
  .flex-cards{
    display: block;
    margin-bottom: 0em;
  }
  .card{
    margin-bottom: 1em;
  }
  .card h3{
    font-size: 1.5em;
  }
  #logo-skedoo{
    width:6em;
  }
  .perfil-bg h3{
    font-size: 1.2em;
  }
  .flex{
    display: flex;
  }
  .uil-bell{
    margin-right: 0px !important;
  }
  .menu-bar{
    padding-inline: 2em;
  }
  .uil-estate::before{
    font-size: 2em;
  }
  #data-atual{
    display: none;
  }
}
@media (max-width: 650px)
{
    .card-link{
      display: flex;
    }
    #hora-atual{
        display: none;
    }
  .card .uil::before{
    font-size: 5em;
  }
  .card h3{
    font-size: 1.3em;
    height: 100%;
    float: right;
    justify-content: center;
    margin: auto;
    max-width: 8em;
  }
  .perfil-bg h3{
    display: none;
  }
  .perfil-bg{
    background-color: blue;
  }
  .card{
    display: flex;
  }
  .card i{
    width: fit-content;
    display: flex;
    float: left;
  }
}
