html::before {
    content: "";
    background-image: url("../../img/img_contato/background_1-skedoo.svg"),
        url("../../img/img_contato/background_2-skedoo.svg"),
        url("../../img/img_contato/background_3-skedoo.svg"),
        url("../../img/img_contato/background_4-skedoo.svg");
    background-size: 15%, 20%, 20%, 20%;
    background-position: top 5% left, right top 0%, bottom -180% left,
     bottom -10px right;
    background-repeat: repeat-y;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.5;
}

.menu-bar {
    background-color: #606cd6;
}

.card{
    background-color: #606cd6;
    padding: 2.5em 2em;
}

.card:hover{
    border-color:#606cd6;
}

.card:hover i, .card:hover h3{
    color: #606cd6;
}
.menu-bar{
    background-color: #606cd6;
}
.div-conteudo{
    background-color: #606cd6;
}
.paragrafo{
    color: white;
}

.texto-card {
    margin-top: 0.8rem;
    font-size: 1.5em;
}

.perfil-bg {
    position: absolute;
    background-color: #f7b662;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
    width: auto;
    padding: 0 1rem;
    height: 100%;
    z-index: -1;
    right: 0;
    top: 0;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.nav {
    position: relative;
    color: #fff;
}
.footer-color{
    color: #626ed2;
}