body {
    background-image:
    url("../../img/img_logins/bg-responsavel-balls1.svg"),
    url("../../img/img_logins/bg-responsavel-balls2.svg");
    background-size: cover;
    width: 100%;
    height: 100vh;
}


.menu-bar {
    background-color: #ffbf69;
}

.card{
    background-color: #ffbf69;
    padding: 2.5em 2em;
}
.card:hover{
    border-color:#ffbf69;
}
.card:hover i, .card:hover h3{
    color: #ffbf69;
}
.menu-bar{
    background-color: #ffbf69;
}
.div-conteudo{
    background-color: #ffbf69;
}


.perfil-bg {
    position: absolute;
    background-color: #eca344;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
    width: auto;
    padding: 0 1rem;
    height: 100%;
    z-index: -1;
    right: 0;
    top: 0;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.nav {
    position: relative;
    color: #fff;
}
.footer-color{
    color: #f7b662;
}

.conteudo-ajuda {
    width: 100%;
    background-image: linear-gradient(to left, #f7b662, #eca344 );
    padding: 0.8em;
    border-radius: 0.8em;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

.conteudo-ajuda h2 {
    font-weight: 700;
}

.col h3 {
    margin-bottom: 0.6em;
    color: #f7b662;
    font-weight: 700;
}

.bg-ajuda {
    background-color: #fff;
    border-radius: 0.7em;
}

.col > .uil::before {
    margin-top: 0.7rem;
    font-size: 3.8rem;
    color: #4fbbb2;
}

.contato-ajuda {
    text-align: center;
    font-size: 1.2em;
}

.contato-ajuda p {
    border-bottom-left-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
    border-bottom: 2px solid #4fbbb2;
    width: 24%;
    margin: auto;
    margin-bottom: 1.2em;
}

.contato-ajuda h2 {
    color: black;
    font-weight: 700;
}

.uil-angle-left {
    color: #4fbbb2;
    transition: all .2s ease-in-out;
    margin-left: 1em;
}

.uil-angle-left:hover {
    transform: scale(1.1);
}

.informacoes {
    background-color: #eca344;
}