html::before {
    content: "";
    background-image: url("../../img/img_logins/background_1-skedoo-inst.svg"),
        url("../../img/img_logins/background_2-skedoo-inst.svg"),
        url("../../img/img_logins/background_3-skedoo-inst.svg"),
        url("../../img/img_logins/background_4-skedoo-inst.svg"), 
        url('../../img/img_telas/nav-background2.svg'), 
        url('../../img/img_telas/nav-background.svg'),
        url('../../img/img_telas/bg-instituicao.svg');
    background-size: 15%, 8%, 100%, 30%, 80%, 130%, 125%;
    background-position: top left, right top 0%, bottom -180% left,
     bottom -10px right, left, right, bottom left, left;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.7;
}

.nav {
    position: relative;
    color: #fff;
}

.nav::before {
    content: "";
    background-image: 
    url('../../img/img_telas/bg-nav.svg');
    background-size: 200%;
    z-index: -10;
    background-position: center 29%;
    background-repeat: no-repeat;
    position: absolute;
    width: 95%;
    height: 100%;
}

.perfil-bg {
    position: absolute;
    background-color: #f7b662;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
    width: auto;
    padding: 0 1rem;
    height: 100%;
    z-index: -1;
    right: 0;
    top: 0;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.menu-bar {
    background-color: #87cac4;
}


.card{
    background-color: #87cac4;
    padding: 2.5em 2em;
}

.texto-card {
    margin-top: 0.8rem;
    font-size: 1.5em;
}

.card:hover{
    border-color:#87cac4;
}
.card:hover i, .card:hover h3{
    color: #87cac4;
}
.menu-bar{
    background-color: #87cac4;
}
.div-conteudo{
    background-color: #87cac4;
}

