body {
    content: "";
    background-image: url("../../img/img_logins/bg-educador-wave-right.svg"),
    url("../../img/img_logins/bg-educador-wave-left.svg"),
    url("../../img/img_logins/bg-instituicao-ball-left.svg"),
    url("../../img/img_logins/bg-educador-wave-right.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: -10;
}

.menu-bar {
    background-color: #606cd6;
}

.card{
    background-color: #606cd6;
    padding: 2.5em 2em;
}

.card:hover{
    border-color:#606cd6;
}

.card:hover i, .card:hover h3{
    color: #606cd6;
}
.menu-bar{
    background-color: #606cd6;
}
.div-conteudo{
    background-color: #606cd6;
}

.texto-card {
    margin-top: 0.8rem;
    font-size: 1.5em;
}

.perfil-bg {
    position: absolute;
    background-color: #f7b662;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
    width: auto;
    padding: 0 1rem;
    height: 100%;
    z-index: -1;
    right: 0;
    top: 0;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.nav {
    position: relative;
    color: #fff;
}
.footer-color{
    color: #626ed2;
}

.conteudo-ajuda {
    width: 100%;
    background-image: linear-gradient(to left, #626ed2, #9ba4f5 );
    padding: 0.8em;
    border-radius: 0.8em;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

.conteudo-ajuda h2 {
    font-weight: 700;
}

.col h3 {
    margin-bottom: 0.6em;
    color: #626ed2;
    font-weight: 700;
}

.bg-ajuda {
    background-color: #fff;
    border-radius: 0.7em;
}

.col > .uil::before {
    margin-top: 0.7rem;
    font-size: 3.8rem;
    color: #f7b662;
}

.contato-ajuda {
    text-align: center;
    font-size: 1.2em;
}

.contato-ajuda p {
    border-bottom-left-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
    border-bottom: 2px solid #f7b662;

    width: 24%;
    margin: auto;
    margin-bottom: 1.2em;
}

.contato-ajuda h2 {
    color: black;
    font-weight: 700;
}

.informacoes {
    background-color: #606cd6;
}

.uil-angle-left {
    color: #fff;
    transition: all .2s ease-in-out;
    margin-left: 1em;
}

.uil-angle-left:hover {
    transform: scale(1.1);
}