body::before {
    content: "";
    background-image: url("../../img/img_logins/bg-instituicao-wave.svg"),
    url("../../img/img_logins/bg-instituicao-wave-right.svg"),
    url("../../img/img_logins/bg-instituicao-ball-left.svg"),
    url("../../img/img_logins/bg-instituicao-ball-right.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 0.6;
}

.nav {
    position: relative;
    color: #fff;
}

.perfil-bg {
    position: absolute;
    background-color: #f7b662;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
    width: auto;
    padding: 0 1rem;
    height: 100%;
    z-index: -1;
    right: 0;
    top: 0;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.menu-bar {
    background-color: #87cac4;
}


.card{
    background-color: #87cac4;
    padding: 2.5em 2em;
}

.texto-card {
    margin-top: 0.8rem;
    font-size: 1.5em;
}

.card:hover{
    border-color:#87cac4;
}
.card:hover i, .card:hover h3{
    color: #87cac4;
}
.menu-bar{
    background-color: #87cac4;
}
.div-conteudo{
    background-color: #87cac4;
}
.footer-color{
    color: #4fbbb2;
    position: relative;
}
